*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 70%;
    padding: 20px 20px 20px 20px;
    
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.1);
}

.title{
    margin: 30px 0 40px 0;
}

.btn{
    padding: 4px;
    font-weight: 700;
    background-color: #84DCC6;
    border: none;
    color: white;
    box-shadow: 1px 6px 12px rgba(154, 154, 154, 0.1);
    border-radius: 2px;
}

.btn:hover{
    background-color: #4ba08b;
}

.alert-red{
    color: red;
    background-color: rgb(252, 179, 179); 
    height: 20px;   
}

.d-none{
    display: none;
}

p{
    background-color: rgb(255, 0, 0);
    color: rgb(232, 197, 197);
    text-transform: capitalize;
    font-size: smaller;
    padding: 5px;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.btn.active-section {
    background-color: #4ba08b;
    color: #FFFFFF; 
}